$box-borders: 1px solid black;
$bgcolor-bars: pink;
$bgcolor-gen: #3F1516;
             

.top-navbar{
    display:flex;
    text-align: center;
    justify-content:flex-start;
    background-color: $bgcolor-bars;
    color: darkmagenta;

    ul{
        align-items: center;

        display:flex;
        li {
            display: inline;

        }
        .nav-buttons{
            border: 1px ;
            background: #8C181B;
            color: white;
            padding: 10px;
            border-radius: 25px/11px;
            margin: 12px;
            width: 85px;
            text-align: center;
            border: none;
            font-size: 15pt;
        }
        .nav-buttons:hover{
                width: 200px;
                background: #4b6dc4;                
            }
    }
}

*{
    overflow: hidden;
}

body{
    background-color: $bgcolor-gen;
    text-align: center;
    width: 90vw; 
    height: 60vh;
    
}

.hero{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        .item{
            max-width: fit-content;
            max-height: fit-content;
            color:peachpuff;
        }
        .item2{
            grid-row: 1/2;
            grid-column: 2/4;
            // object-fit: fill;
            height:800px;
        }
}